[server]
serverAddress:0.0.0.0
serverPort:13212


#location of ssl certificates
[ssl]
certFile:i13monserver_self_signed.pem
keyFile:i13monserver.key
locationVerification:i13monserver_self_signed.pem

#db info
[db]
dbname=i13mon
user=i13mon
password=supersecrete
host=localhost
port=5432

# the serial numbers of certificates, which are expired!
[expired]
serialNumbers=AA5012D3F04DDA28;